<app-auth-layout
  title="Restablecer contraseña"
  subtitle="Estás a un paso de recuperar el acceso."
  image="/images/reset-password.jpg"
  heroTitle="Crea una nueva"
  heroHighlight="contraseña."
  heroDescription="Elige una contraseña segura para proteger tu cuenta y continuar disfrutando de SportHub."
  [showBenefits]="false"
>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="space-y-6">
    <app-text-input
      inputId="password"
      label="Nueva contraseña"
      type="password"
      placeholder="••••••••"
      [control]="resetPasswordForm.controls.password"
    >
    </app-text-input>

    <app-text-input
      inputId="confirmPassword"
      label="Confirmar contraseña"
      type="password"
      placeholder="••••••••"
      [control]="resetPasswordForm.controls.confirmPassword"
    >
    </app-text-input>

    <app-button [type]="'submit'" [loading]="loading()" [fullWidth]="true">
      Guardar contraseña
    </app-button>
  </form>

  <p class="mt-8 text-center text-sm text-zinc-400">
    ¿Recordaste tu contraseña?

    <a routerLink="/login" class="font-semibold text-[#9FEA00] hover:brightness-110">
      Volver al inicio de sesión
    </a>
  </p>
</app-auth-layout>
