<app-auth-layout
  title="Iniciar sesión"
  subtitle="Bienvenido nuevamente"
  image="/images/login.jpg"
  heroTitle="Tu próximo entrenamiento comienza"
  heroHighlight="aquí."
  heroDescription="Descubre instalaciones deportivas, reserva en segundos y disfruta una experiencia moderna."
>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-6">
    <!-- Correo -->

    <app-text-input
      inputId="email"
      label="Correo electrónico"
      placeholder="correo@ejemplo.com"
      type="email"
      [control]="loginForm.controls.email"
    >
    </app-text-input>

    <!-- Contraseña -->

    <app-text-input
      inputId="password"
      label="Contraseña"
      type="password"
      placeholder="••••••••"
      [control]="loginForm.controls.password"
    >
    </app-text-input>

    <div class="text-right">
      <a routerLink="/forgot-password" class="text-sm text-[#9FEA00] hover:brightness-110">
        ¿Olvidaste tu contraseña?
      </a>
    </div>

    @if (errorMessage()) {
      <p class="text-center text-sm text-red-400">
        {{ errorMessage() }}
      </p>
    }

    <app-button [type]="'submit'" [loading]="loading()" [fullWidth]="true">
      Iniciar sesión
    </app-button>
  </form>

  <p class="mt-8 text-center text-sm text-zinc-400">
    ¿No tienes una cuenta?

    <a routerLink="/register" class="font-semibold text-[#9FEA00] hover:brightness-110">
      Regístrate
    </a>
  </p>
</app-auth-layout>
